

.popup {
  border: white solid;
  width: inherit;
  height: inherit;
  position: inherit;
  z-index: 5;
  background-color: #00275e;
  margin: 0px;
  padding: 1rem;
  color: #ffffff;
  border-radius: 25px;
  box-shadow: 5px 5px #d2d2d2 ;
  display: block;
  overflow-wrap: break-word;
  word-wrap: break-all;
  max-width: 100%;
} 

.licontainer {
    padding: 0rem 1rem 1rem 1rem;
    border: solid white;
    border-width: 0.2px;
    border-radius: 12px;
    display: flex;
    box-shadow: inset 0px 0px 0.5px 0.5px #ffffff;;
    height: inherit;
    flex-wrap: wrap;
    white-space: normal;
    max-height: 95%;
    background-color: #1a1511;
    justify-content: center;
  

}

   .poptoprightbuttons {
    display: flex;
    justify-content: flex-end;
    margin-top:  0rem;
    margin-bottom:  0.3rem;

 
  }
  
   .poptoprightbuttons button {
    font-size: 0.5rem;
 
  }
  
   

.popup h4 {
    margin: 0;
    /* background-color:#130561 ; */
    text-align: center;
}
  
.popuppreview {
    float: right;
}
  


.popimgcont {
  display: flex;
justify-content: center;
 text-align: center;
  margin: 1rem;
  max-height: 40%;

}
  

 #popimg { 
  max-height: 40%;
  max-width: 40%;

  object-fit: contain;

  overflow: hidden;
  
}
.popimgcont button {
  padding: 0;
  border-radius: 0;
  width: 0.8rem;
  border: none;
  color: #1a1511; 
  background-color: #1a1511;
}


.arrows {
  margin: 0px;
  padding: 0px;
  color: white;
  align-items: center;
}

.arrows:hover {
  color: black;
   background: #ffffff;
  opacity: 30%;
}


.popuplink {
  flex-grow:unset;
  /* border: solid red; */
  display: flex;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}

.aboutsection {
  display: flex;
  flex-Direction: row;
  flex-Wrap: wrap;

}





.popup p {
  font-size: 0.8rem;
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  margin-bottom: 0;
  margin-right:auto;
  
}


.popup button {
  display: block;
  /* width: 100%; */
  white-space: nowrap;

  /* color:#00275e; */
  /* padding: 0 0.4rem;
  width: 3rem;
  font-size: .6rem;
  margin-top:  .2rem;
  margin-bottom:  .1rem; */

}

#insidemorebutton {
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-size: 0.8rem;
  border-radius: 0%;
  margin: 0;
  padding:0px;
  width: 10%;
  /* opacity: 0; */
}



#insidemorebutton:hover {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  opacity: 0.5;
  color: black; 
}

.popup ul {
  max-width: 90%;
  padding: 0px;
  margin-bottom: 0;
}

.sociallistcont {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: auto;
  margin-bottom: 0;
  bottom: 0;
}
.sociallist {

  list-style: none;
  display: flex; 
  justify-content: space-between;   
  max-height:100%; 
  max-width:100%;
  margin-bottom: 1rem;
}

.sociallist a {
  display: flex;
  justify-content: center;
}

.sociallist img {
  width: 30%;
  
}
/* 
////////////////////////////////////////////////////////
//re worked css 
//////////////////////////////////////////////////

.popuppreview {
  float: right;
}



.popup {
width: inherit;
height: inherit;
position: inherit;
z-index: 5;
background-color: #00275e;
margin: 0px;
padding: 1rem;
color: #ffffff;
border-radius: 25px;
box-shadow: 5px 5px #d2d2d2 ;
display: flex;
font: arial; 

flex-direction: column;

} 


.secondlineMoveDown{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: pre-wrap;
}



.poptoprightbuttons {
  display: flex;

  flex-direction: row-reverse;
  padding: 0.4rem;

  }

  .poptoprightbuttons button {

    margin: 0;
    padding: 0, 0.4rem;
    font-size: .6rem;
  }





.arrows  {
  all: unset;
  display: flex;
  background-color: inherit;
  color:black;
  margin-left: 0;
  margin-right: 0;
  align-items: center;
  width: 10%;
  opacity: 100%;
  border-radius: 0%;
  border: none;
}



.arrows:hover {
  color: black;
  background: #ffffff;
  opacity: 30%;

}




#insidemorebutton {
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-size: 0.8rem;
  border-radius: 0%;
  margin: 0;
  padding:0px;
  width: 10%;

}


#insidemorebutton:hover {
  background-color: whitesmoke;
  opacity: 0.5;
  color: black; 
}






.popup h4 {
  margin: 0;

  text-align: center;
}

.licontainer {
  padding: 0rem 0.5rem 1rem;
  border: solid white;
  border-width: 0.2px;
  border-radius: 12px;
  height: auto;
  display: flex;
  box-shadow: inset 0px 0px 0.5px 0.5px #ffffff;;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  white-space: nowrap;
  height: 90%;
  background-color: #1a1511;
}

  .popimgcont{
  display: block;
  align-items: end;
  
  }
  
  .popimg img {
    height: 100px;
    justify-content: center;
    max-width: 60px;
    max-height: 20%;
  }
  
  
  .popimg {
    max-height: 20%;
    margin: 1rem;
    display: flex;
    justify-content: center;
  }


.popuplink {
  flex-grow:unset;

  display: flex;
  flex-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}

.aboutsection {
  display: flex;
  flex-Direction: row;
  flex-Wrap: wrap;

}

.popup p {
  font-size: 0.8rem;
  display: -webkit-box;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  margin-bottom: 0;
  margin-right:auto;
  
}


.popup ul {
  max-width: 90%;
  padding: 0px;
  margin-bottom: 0;
}

.sociallistcont {
  display: flex;
  justify-content: center;
  border: red solid;
  width: auto;
  margin-top: auto;

  padding: 0;
  max-height:100%; 
  max-width:100%;
  margin-bottom: 1rem;

}

.sociallist img {
justify-content: center;
  width: 30%;

}


.sociallist {

  list-style: none;
  display: flex;  

}
 */
